<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache,no-store">
    <meta http-equiv="cache-control" content="no-cache,no-store">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/oa/resource/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_575023_dq5ads2pq6umzpvi.css">
    <link rel="stylesheet" name="theme" href="">
    <!--[if lte IE 9]><script>location.href = '/unsupport-browser.html'</script><![endif]-->
    <script>
        // if (navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) { //  mobile环境
        //     window.location.href = 'http://tm.xyyzi.com:9090/oa/dist_mobile/index.html';
        // }
    </script>
</head>

<body>
    <div id="app"></div>
    <div class="lock-screen-back" id="lock_screen_back"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[2] %>"></script>
</body>

</html>
